<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('./partials/head.ejs') %>
	<body>
		<script>
		</script>
		<nav>
			<a href="/to-do">Home</a>
		</nav>
		<div class='edit-container'>
			<form action="/to-do/<%=toDo._id%>?_method=PUT" method="POST">
				To Do: <input type="text" name="toDo" value="<%=toDo.toDo%>"/><br/>
				<% if (toDo.subToDo !== null) {
					 	for (let i = 0; i < toDo.subToDo.length; i++) { %>
							<br/>
							<div id="miniAccomplishment">
							<h5>Mini Accomplishment:</h5>
							<h6><%=toDo.subToDo[i].subTODO%></h6>
							<a class="btn btn-primary" href="/to-do/<%=toDo.subToDo[i]._id;%>/editSubToDo">Edit</a>
							</div>
					<% } %>
				<% } %>
			</br>
					Top Priority?:
					<input
									type="checkbox"
									name="priority"
									<% if (toDo.priority === true) { %>
											checked
											<% } %>
											/>

											<br/>
					 <input class="btn btn-primary" type="submit" value="Submit Changes"/>
				 </form>
			</div>

			<%- include ('./partials/footer.ejs') %>
	</body>
</html>
