<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('./partials/head.ejs') %>
	<body>
		<nav>
			<a href="/to-do">Home</a>
		</nav>
		<div class='edit-container'>
			<form action="/to-do/<%=toDo._id%>?_method=PUT" method="POST">
				To Do: <input type="text" name="toDo" value="<%=toDo.toDo%>"/><br/>
				<% if (toDo.subToDo !== null) {
					 	for (let i = 0; i < toDo.subToDo.length; i++) { %>
							Sub-To-Do: <input type="text" name="subToDo" value="<%=toDo.subToDo[i]%>"/><br/>
					<% }
					}  %>
					Top Priority?:
					<% if (toDo.priority === false) { %>
						<input type="checkbox" name="priority"/><br/>
					<% } else { %>
						<input type="checkbox" checked name="priority"/><br/>
					 <% } %>
				<input type="submit" value="Submit Changes"/>
				 </form>


				 			<% const addSubToDo = () => {
				 					 console.log('HI')
				 					 %> <input type="text" name="subToDo" placeholder="Add Sub To Do Here"/><br/>
				 				 <% } %>

				 				<button href="javascript" onclick="addSubToDo()">Add New Sub To Do</button><br/>



			</div>


	</body>
			<%- include ('./partials/footer.ejs') %>
</html>
