<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('./partials/head.ejs') %>


<body tabindex="1">
	<script>
	 const accomplished = () => {
		 console.log("hi");
	 }
	</script>
	<div class='container-fluid'>
		<div class='row'>
			<div class='header'>
				<nav>
					<button class="btn btn-primary" onclick="window.location.href='/to-do/new'">Add New Item To Accomplish</button>

					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myTipsModal">Tips</button>

					<div class="modal fade" tabindex="-1" id="myTipsModal">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Tips</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<h8>Some Tips</h8>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myAboutModal">About</button>

					<div class="modal fade" tabindex="-1" id="myAboutModal">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">About</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<h8>Something about</h8>
								</div>
							</div>
						</div>
					</div>

			</nav>
		</div>
	</div>



	<div class='row'>
		<div class='header col-12'>
			<h1 class="title">Accomplished.</h1>
		</div>
	</div>
	<div class='row'>
		<div class='content col-6'>
			<div class="accordion" id="accordionSection">
				<% for (let i = 0; i < toDos.length; i++) { %>
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading<%=[i]%>">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=[i]%>" aria-expanded="true" aria-controls="collapse<%=[i]%>">
							<%=toDos[i].toDo%></a>
				</div>
				</button></h2>
				<div id="collapse<%=[i]%>" class="accordion-collapse collapse" aria-labelledby="heading<%=[i]%>" data-bs-parent="#accordionSection">
					<div class="accordion-body">
						<a href="/to-do/<%=toDos[i].id;%>"><%=toDos[i].toDo%></a>

						<a href="/to-do/<%=toDos[i].id;%>/accomplished" class="btn btn-primary"
						href="javascript:"
						onclick="accomplished()"
						role="button"
						>Accomplished</a>

						<div class='priority-container'>
							<h5 class='priority'>Top Priority?</h5>
							<% if (toDos[i].priority === false) { %>
							<h6>No</h6> <%
					} else { %>
							<h6>Yes</h6>
							<% } %>
						</div>
						<div class='sub-to-do-container'>
							<% if (toDos[i].subToDo !== null) {
				 		for (let n = 0 ; n < toDos[i].subToDo.length; n++) { %>
							<div class='show-sub-todo-container'>
								<h5 class='show-sub-todo'><%=toDos[i].subToDo[n]%></h5>

								<a class="btn btn-primary"
								href="javascript:"
								onclick="accomplished()"
								role="button"
								>Accomplished</a>
							</div>
							<% }
					} %>
						</div>
						<div class='notes'>
							<% if (toDos[i].notes !== null) { %>
							<h6>Notes:</h6>
							<p><%=toDos[i].notes%></p>
							<% } %>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div>


		<div class='content col-5'>
			<h1><%=affirmation[Math.floor(Math.random() * affirmation.length)].message%></h1>
		</div>
	</div>

	<%- include ('./partials/footer.ejs') %>

	</div>
</body>

</html>
