<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('./partials/head.ejs') %>
	<body id="body">
		<script>
		const deleteSubToDo = (num) => {
		 			const subToDo = document.getElementById(`subToDo${num}`)
					subToDo.remove()
					const buttonId = document.getElementById(`buttonId${num}`)
					buttonId.remove()
					const subTitleId = document.getElementById(`subTitle${num}`)
					subTitleId.remove()
					const breakId = document.getElementById("remove")
					breakId.remove()
		 			}
		</script>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
<h1 class="appTitle">Accomplished.</h1>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="#"><button id="button-color" class="btn" onclick="window.location.href='/to-do'">Home</button></a>
		</li>
	</ul>
</div>
</div>
</nav>
		<div id="formContainer">
		<form class="form" action="/to-do" method="POST">
						<br/>
						<input type="hidden" name="accomplished" value=false>
						<input type="hidden" name="valueOfAccomplishments" value=0>
						<div id='newPageAlignment'>
						<h2>Main Accomplishment:</h2>
						<input class="new-input" type="text" name="toDo" placeholder="Type Here"/>
						</div>
						<br/>
						<div id='newPageAlignment'>
						<h5 id="fontNewPage">Top priority?</h5> <input type="checkbox" name="priority"/><br/>
						</div>
						<br/>
						<div id="subToDoContainer">
						<% for (let i = 0; i < 6; i++) { %>
						<div id='newPageAlignment'>
            <h5 id="fontNewPage" id="subTitle<%=i%>">Mini Accomplishment:</h5>
						<input class="new-input" id="subToDo<%=i%>" type="text" name="subToDo<%=i%>" placeholder="Type Here"/>
							<a id="button-color" id="buttonId<%=i%>" class="btn"
							href="javascript:"
							onclick="deleteSubToDo(<%=i%>)"
							role="button"
							>Delete</a>
						</div>
					<div id="remove">
					</br>
					</div>
					<% } %>
						</div>
						<div id="addNotes">
							<h5 id="fontNewPage">Notes:</h5>
							<input class="new-input" type="text" name="notes" placeholder="Type Here"/>
						</div>
						<br/>
					<div class='submit-new-to-do'>
            <input id="button-color" class="btn" type="submit" value="Create To Do"/>
					</div>
    </form>
	</div>



		<%- include ('./partials/footer.ejs') %>

	</body>
</html>
