<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('./partials/head.ejs') %>
	<body>
		<nav>
			<a href="/to-do">Home</a>
			<a href="/to-do/new">Add a new To Do</a>
			<a href="/to-do/<%=toDo.id;%>/edit">Edit</a>
			<form action="/to-do/<%=toDo._id%>?_method=DELETE" method="POST">
          <input class="btn btn-primary" type="submit" value="Delete"/>
          </form>
		</nav>

		<div class='show-page-container'>
			<h1><%=toDo.toDo%></h1>
			<div class='priority-container'>
				<h4 class='priority'>Top Priority?</h4>
				<% if (toDo.priority === false) { %>
					<h4>No</h4> <%
				} else { %>
					<h4>Yes</h4>
			<% } %>
			</div>
			<% if (toDo.subToDo !== null) {
			 		for (let i = 0 ; i < toDo.subToDo.length; i++) { %>
					<div class='show-sub-todo-container'>
						<h4 class='show-sub-todo'><%=toDo.subToDo[i]%></h4>
					</div>
				<% }
				} %>
			<div class='notes'>
				<h6>Notes:</h6>
				<p><%=toDo.notes%></p>
			</div>
		</div>
<%- include ('./partials/footer.ejs') %>
	</body>
</html>
